body{
	margin: 0;
	padding: 0;
}
.main_body{
	width: 100%;
	margin: 0;
	text-align: center;
}
body > div.navbar{
	line-height: 21px;
	padding: 0;
}
body > div.navbar > ul{
	margin-bottom: 0;
}
body > div.navbar > ul > li > a{

}
.main_body .rightBody{
	width: 80%;
	display: inline-block;
	height: 100%;;
	background-color: green;
	float: none;
	padding: 2% 2% 1% 2%;
	text-align: center;
	border-left: solid 5px #000;
}
.main_body .rightBody .page-title{
	float: none;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: xx-large;
	font-weight: normal;
}

.main_body .rightBody #file-upload-label{
	float: left;
	margin-left: 10px;
}
.main_body .rightBody #file-upload{
	padding-left: 20px;
	border: 1px solid #000;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}
